# 只由负责人直接写入服务器 /etc/gongxing/backup.env，权限 0600。
# 不得提交真实 bucket、access key、secret key 或 restic 密码。
RESTIC_REPOSITORY=s3:https://BLR1.digitaloceanspaces.com/REPLACE_BUCKET
RESTIC_PASSWORD_FILE=/etc/gongxing/restic-password
AWS_ACCESS_KEY_ID=REPLACE_ON_SERVER
AWS_SECRET_ACCESS_KEY=REPLACE_ON_SERVER
RESTIC_PRUNE_ENABLED=0
